*{
    margin: 0px;
    padding: 0px;
}

/* ============================= Navbar ============================ */
.f-vehicles{
font-weight: bold;
}

/* .main{
    background-color: darksalmon;
} */

/* ============================= Bikes ============================ */
.imges{
    width: 100%;
    height: 100vh;
}


/* ============================= Products Cards ============================ */
.box{
    box-shadow: 5px 5px 5px black;
}

/* ============================= Mainpages ============================ */


.mainpage{
width: 100%;
height: 100vh;
}

/* ============================= About ============================ */
.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.img{
    width: 35%;
}
.pic{
    width: 100%; 
}
.para1{
    width: 35%;
}
.para{
    width: 100%;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    border: 2px solid black;
}
.box1{
    width: 20%;
    height: 60vh;
    border: 2px solid black;
}